/PC/*.o
/PC/**/*.o
/PC/ve301
/PC/mainObjective
/PC/logging_output_test
/PC/logging_output_test_trace
/PC/player_test
/PC/menu/
/PC/base/
/PC/audio/
/PC/wifi-scan/
/Raspberry/*.o
/Raspberry/**/*.o
/Raspberry/ve301
/Raspberry/menu/
/Raspberry/base/
/Raspberry/audio/
/Raspberry/wifi-scan/
**/*.o
/build/
