./.gitignore
.qtc_clangd/
.cache/
.clangd
.cproject
.clang-format
language.settings.xml
launch.json
.project
.settings/
/PC/*.o
/PC/**/*.o
/PC/ve301
/PC/wifi-scan/
/Raspberry/*.o
/Raspberry/**/*.o
/Raskberry/ve301
/Raspberry/wifi-scan/
ve301_new.cflags
ve301_new.creator
ve301_new.creator.user
ve301_new.creator.user.d5b3508
ve301_new.cxxflags
ve301_new.files
ve301_new.includes
**/*.o
/.qtcreator/
/.vscode/
/ve301.project
/ve301.workspace
/ve301.config
