##
# Logging
# log_levels (see base.h):
# -1 OFF
#  0 ERROR
#  1 WARNING
#  2 INFO
#  3 CONFIG
#  4 DEBUG
#  5 TRACE
# log_contexts: BASE MAIN MENU AUDIO ENCODER SDL WEATHER BLUETOOTH
log_levels=11111111
##
# Window geometry
##
# Window width
window_width=800
# Offsets in case the screen is not centered
y_offset=100
x_offset=0
# Angle offset in case the screen is not horizontal
angle_offset=0.0
# The radius of the lables
radius_labels=320
# The radius of the scales
radius_scales_start=390
radius_scales_end=700
##
# Colors
##
# Scale color
scale_color=#000000
# Background color (if not determined by time)
background_color=#555555
# Indicator color
indicator_color=#ff0000
# Default color of a menu item
default_color=#000000
# Color when an item is selectable
selected_color=#000000
# Color of the active item (in the info menu)
activated_color=#000000
##
# Light & Shadow
##
# A light source: position and radius
light_x=400
light_y=0
light_radius=400
light_alpha=100
# Mimic a background light with a picture
# Put a path to an image here. It will be blended over the display
light_image_path=
# Shadow offset
shadow_offset=7
# Maximum shadow opaqueness
shadow_alpha=100
# Bump mapping
font_bumpmap=0
##
# Fonts
##
font_size=32
font=/usr/share/fonts/truetype/noto/NotoSans-Regular.ttf
station_font=/usr/share/fonts/truetype/noto/NotoSans-Regular.ttf
active_font=/usr/share/fonts/truetype/noto/NotoSans-Regular.ttf
info_font_size=48
time_font_size=72
##
# How long to show each item in the info menu
##
info_menu_item_seconds=5
##
# Weather
# Get weather font from
# https://github.com/erikflowers/weather-icons/blob/master/font/weathericons-regular-webfont.ttf
##
#weather_font=<put your home directory here>/.ve301/weathericons-regular-webfont.ttf
#weather_font_size=120
#weather_api_key=<put your api key here>
#weather_location=<put your location here>
#weather_units=metric
##
# MPD
##
mpd_host=localhost
