#log_levels: see base.h
#log_contexts: BASE MAIN MENU AUDIO ENCODER SDL WEATHER   
log_levels=1111111
font_size=32
bg_color_from_time=0
bg_color_palette=#525a9a,#51558d,#50507f,#4f4b70,#4e435a,#4c3940,#4a3025,#4e2711,#682119,#861b26,#a22a2e,#be4835,#e2703e,#fb8d47,#fb9450,#fa9b58,#f9a160,#f9a769,#f8ae71,#f7b479,#f6bb82,#f5c089,#f5c48f,#f4c994,#f4cc99,#f4d09e,#f3d4a3,#f2d8a8,#f2dcad,#f1e0b3,#f1e4b8,#f1e8bd,#f0ecc2,#eff0c7,#eff4cc,#f0f5d0,#f1f6d3,#f2f6d6,#f2f6d8,#f3f7dc,#f4f7df,#f5f8e2,#f6f8e5,#f7f9e8,#f7f9eb,#f8faee,#f9faf1,#fafbf4,#fbfbf7,#fcfcfa,#fcfcfb,#fbfcf7,#fafbf4,#f9faf1,#f8faee,#f7f9eb,#f6f9e8,#f6f8e5,#f5f8e2,#f4f7df,#f3f7dc,#f2f6d9,#f1f6d6,#f1f5d3,#f0f5d0,#eff4cc,#f0f0c7,#f0ecc2,#f0e8bd,#f1e4b8,#f2e0b2,#f2dcad,#f2d8a8,#f3d4a3,#f4d09e,#f4cc99,#f5c994,#f5c58f,#f6c089,#f6bb82,#f7b479,#f8ae71,#f9a769,#f9a160,#fa9a58,#fb9450,#fc8d47,#e26f3e,#be4835,#a22a2e,#861b26,#682119,#4e2711,#4a3025,#4c3940,#4d435a,#4f4b70,#50507e,#51558c,#515a9b
scale_color=#000000
background_color=#ffffff
indicator_color=#ff0000
default_color=#000000
selected_color=#000000
activated_color=#000000
font_bumpmap=1
font=/usr/share/fonts/truetype/noto/NotoSans-Regular.ttf
station_font=/usr/share/fonts/truetype/noto/NotoSans-Regular.ttf
active_font=/usr/share/fonts/truetype/noto/NotoSans-Regular.ttf
# Get weather font from
# https://github.com/erikflowers/weather-icons/blob/master/font/weathericons-regular-webfont.ttf
#weather_font=<put your home directory here>/.ve301/weathericons-regular-webfont.ttf
#weather_font_size=120
#weather_api_key=<put your api key here>
#weather_location=<put your location here>
#weather_units=metric
info_font_size=48
time_font_size=72
window_width=800
info_menu_item_seconds=5
clip_w=0
clip_h=170
clip_x=0
clip_y=60
y_offset=100
x_offset=0
angle_offset=0.01
hsv_style=0
radius_labels=320
radius_scales_start=390
radius_scales_end=700
light_x=400
light_y=400
light_radius=600
mpd_host=localhost
